// Media Queries for tablets
@media (max-width: 850px) {
  header {
    .container {
      width: 90%;

      .hamburger {
        display: block;
        font-size: 1.5rem;
        cursor: pointer;
        z-index: 1;

        .fa-times {
          display: none;
        }
      }

      .logo {
        font-size: 2rem;
      }

      .nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 60%;
        height: 100vh;
        max-height: 100vh;
        transform: translateX(150%);
        transition: transform 0.5s ease-in-out;

        ul {
          background: rgba($secondary-color, 0.95);
          width: 100%;
          height: 100vh;
          max-height: 100vh;
          @include flexbox($direction: column);

          li {
            margin: 1rem 0;

            a {
              display: inline-block;
              padding: 0.5rem 0;
            }
          }
        }
      }
    }
    &.open {
      .hamburger {
        .fa-times {
          display: block;
          font-size: 1.8rem;
        }

        .fa-bars {
          display: none;
        }
      }

      .nav {
        transform: translateX(0);
      }
    }
  }

  main .video-wrapper > div {
    width: 70%;
  }
}

// Media Queries for mobile
@media (max-width: 600px) {
  main .video-wrapper > div {
    width: 100%;
  }
}
