@import "config";

.container {
  width: 90%;
  margin: auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $dark-color;
}

body {
  font-family: $main-font;
  width: 100%;
}

.buffer {
  height: 100px;
}

// Header
header {
  top: 0;
  background-color: $dark-color;
  color: $light-color;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  z-index: 100;

  .container {
    @include flexbox(space-between);

    .hamburger {
      display: none;
    }

    .logo {
      font-family: $accent-font;
      font-size: 2.5rem;
      font-weight: 600;
      letter-spacing: 0.15rem;

      span {
        color: $primary-color;
      }
    }

    a {
      color: $light-color;
    }

    .nav {
      & > div {
        & > div {
          ul {
            @include flexbox();
            li {
              margin: 0 0.5rem;

              a {
                padding: 0.5rem;
                position: relative;
                text-transform: uppercase;
                font-weight: 500;
                letter-spacing: 0.1rem;

                &:hover {
                  color: $accent-color;
                }

                &::before,
                &::after {
                  content: "";
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 3px;
                  background-color: $primary-color;
                  transform: scaleX(0);
                  transform-origin: left;
                  transition: transform 0.5s ease;
                }

                &::after {
                  top: auto;
                  bottom: 0;
                  transform-origin: right;
                }

                &:hover::before,
                &:hover::after {
                  transform: scaleX(1);
                }
              }
            }
          }
        }
      }
    }
  }
}

main {
  @include flexbox($direction: column);
  margin-top: 2rem;

  .page-title {
    font-size: 2rem;
    font-family: $accent-font;
    color: $primary-color;
    margin-bottom: 2rem;
  }

  .video-wrapper {
    width: 100%;
    & > div {
      width: 50%;
      margin: auto;
      @include flexbox($direction: column);

      .video-title {
        font-size: 1.5rem;
        color: $dark-color;
        margin-bottom: 1rem;
      }

      .video {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%;

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

footer {
  text-align: center;
  background: $secondary-color;
  color: $accent-color;
  padding: 2rem 0;
  margin-top: 5rem;
}

@import "mobile";
